.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card {
  padding: 36px 24px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px -8px;
}

.card,
.card img {
  border-radius: 6px;
}

@media (max-width: 1000px) {
  .card img {
    width: 150px;
    height: 150px;
  }

  .card {
    padding: 0;
    border: none;
    box-shadow: none;
  }

  div.card-grid {
    padding: 48px 12px;
  }
}
